.calculator {
  width: 340px;
  margin: 50px auto;
  background-color: #252525;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.display {
  padding: 20px 10px;
  background-color: #1e1e1e;
  text-align: right;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.display input {
  width: 100%;
  border: none;
  background-color: #1e1e1e;
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  text-align: right;
  padding: 10px 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 20px;
}

.buttons button {
  padding: 20px;
  border: none;
  background-color: #333;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 5px;
}

.buttons button:hover {
  background-color: #444;
}

.buttons button:active {
  background-color: #222;
}

#operator{
  background-color: #ffc107;
  color: #000;
}

#calculate {
  background-color: #4caf50;
  color: #fff;
}

#clear{
    background-color: firebrick;
    color: #fff;
}
